h1 {
  text-align: center;
}

p {
  font-size: 400%;
  text-align: center;
}

p a {
  text-decoration: none;
}

.button {
  text-align: center;
  height: 100%;
  width: 10%;
  display: inline-block;

}
#brands {
  margin: 0 auto;
  height: 100px;
  text-align: center;
}
#hope {
  background-color: green; 
}
#king {
  background-color: HotPink;
}
#shimano {
  background-color: blue;
}
#campagnolo {
  background-color: red;
}
#white {
  background-color: Chocolate;
}
#powertap {
  background-color: orange;
}

